.sidebar-feed__notice{

  // Уведомление
  &-item{
    --background: #{alpha($white, .1)};
    --color: #{$white};
    --color-meta: #{$gray};
    --text-shadow: #{$white-shadow};

    display: block;
    position: relative;
    background: var(--background);
    line-height: 1.5;
    font-size: 14px;
    padding: 15px;
    width: 100%;
    min-height: 54px;
    transition: .15s ease-in-out;
    @include bordered(var(--background));
    text-transform: initial;
    text-align: left;

    // Модификаторы цвета
    &_role{
      // Разные цветовые состояния
      &-primary{
        --background: #{alpha($blue, .2)};
        --color: #{$aqua};
        --text-shadow: #{$blue};
      }
      &-success{
        --background: #{alpha($green, .2)};
        --color: #{$green};
        --text-shadow: #{$green-shadow};
      }
      &-danger{
        --background: #{alpha($red, .2)};
        --color: #{$red};
        --text-shadow: #{$red-shadow};
      }

      &-warning{
        --background: #{alpha($gold, .2)};
        --color: #{$gold};
        --text-shadow: #{$gold-shadow};
      }
      // Кнопка "Показать все уведомления"
      &-more{
        min-height: 0;
        padding: 10px 0;
        text-align: center;

        &::after{
          content: unset!important;
        }
      }
    }
  }

  // Метаданные @ Время получения уведомления
  &-meta{
    display: block;
    color: var(--color-meta);
    opacity: .6;
    text-shadow: 0 0 transparent;
  }
}