.sidebar-feed{
  position: fixed;
  height: 100vh;
  width: 400px;
  right: 0;
  top: 0;
  background: alpha($white, .05);
  padding: 10px 0;
  opacity: .5;
  transition: .15s ease-in-out;
  transform: translateX(calc(100% - 100px));
  overflow: hidden scroll;

  // Анимации при наведении
  &:hover{
    opacity: 1;
    background:
            alpha(#010204, .95)
            radial-gradient(alpha($blue, .2), transparent)
            left center;
    background-size: 200% 100%;
    padding: 20px 0;
    transform: translateX(0);
  }

  // Анимация при отсутствии наведения
  &:not(:hover) .sidebar-feed{
    // Обнуление отступов в разделах
    &__section{
      padding: 0;

      // Полностью убрать визуально заголовок
      &-heading{
        line-height: 0;
        opacity: 0;
      }

      // Обнуление внешнего отступа от заголовка
      &-list{
        margin: 0;
      }

      // Изменить отступы
      &-item {
        padding: 8px 23px;
      }
    }

    // Уведомление
    &__notice-item{
      --color: transparent;
      --color-meta: var(--color);
      --text-shadow: var(--color);
      line-height: 0;
      width: 54px;

      &_role-more{
        height: 0;
        padding: 0;
      }
    }

    // Скрыть блок с пользователем
    &__friend-item__user{
      opacity: 0;
      transition: .15s ease-in-out;
    }
  }

  // Стилизация скроллбара
  &::-webkit-scrollbar {
    background: var(--gray-800);
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--gray-700);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--gray-600);
  }

}

@import
        'sidebar-feed__section', // Разделы в боковой панели
        'sidebar-feed__notice', // Список уведомлений
        'sidebar-feed__friend' // Список друзей
;