.sidebar-feed__section{
  position: relative;
  padding: 20px 0;
  transition: .15s ease-in-out;
  z-index: 1;

  // Заголовок
  &-heading{
    font-family: MinecraftTitle, sans-serif;
    line-height: 1.2;
    font-size: 28px;
    color: $white;
    opacity: 1;
    padding: 0 25px;
    text-shadow: 4px 4px $white-shadow;
    transition: .15s ease-in-out;

    &__count{
      font-family: inherit;
      color: $gray;
      text-shadow: 4px 4px $gray-shadow;
    }
  }

  &-list{
    list-style: none;
    margin-top: 10px;
    transition: .15s ease-in-out;
  }
  &-item{
    padding: 8px 25px;
    transition: .15s ease-in-out;
  }
}