.nav__global-nav{
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  grid-column-gap: 3px;
  list-style: none;

  li{
    display: block;
  }

  // Элемент списка
  &-item{
    --gradient: transparent;

    display: grid;
    background: linear-gradient(var(--gradient), transparent 75%);
    line-height: 1.4;
    font-size: 16px;
    color: $white;
    height: 70px;
    padding: 0 35px;
    text-shadow: 3px 3px $white-shadow;
    grid-column-gap: 10px;
    align-items: center;

    // Модификатор профиля пользователя
    &_user{
      --gradient: #{alpha($dark-gray, .3)};
      grid-template-columns: repeat(3, auto);
    }
    // Компоненты профиля пользователя
    &__user{

      // Аватарка (голова скина)
      &-avatar{
        display: block;
        height: 42px;
      }
      // Никнейм
      &-nickname{

      }
      // "Открыть профиль"
      &-group{
        display: inline-block;
        background: $dark-gray;
        font-size: 14px;
        color: $white;
        padding: 0 6px;
        text-shadow: 3px 3px $white-shadow;
        box-shadow: 3px 3px $dark-gray-shadow;
        text-transform: uppercase;
      }
    }

    // Модификатор баланса
    &_balance{
      grid-template-columns: 32px auto;

      &-rubles{
        --gradient: #{alpha($dark-red, .3)};
      }
      &-coins{
        --gradient: #{alpha($gold, .3)};
      }

      &-icon{
        width: 32px;
        image-rendering: pixelated;
      }
    }

    // Модификатор промо-ссылки
    &_promo{
      --gradient: #{alpha($dark-green, .3)};
      grid-template-columns: auto auto;
    }

    &__battle-pass-level{
      color: $green;
      text-shadow: 3px 3px $green-shadow;
    }
  }
}