.nav__global-nav{
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr repeat(2, auto);
  grid-column-gap: 5px;
  list-style: none;

  li{
    display: block;
  }

  // Элемент списка
  &-item{
    --color: transparent;

    display: grid;
    position: relative;
    line-height: 1.4;
    font-size: 16px;
    color: $white;
    height: 55px;
    padding: 5px 10px 0;
    text-shadow: 2px 2px $white-shadow;
    grid-column-gap: 10px;
    align-items: center;

    &::before{
      content:'';
      position: absolute;
      display: block;
      background: var(--color);
      width: 100%;
      height: 3px;
      top: 0;
      left: 0;
      opacity: .8;
      transition: .075s ease-in-out;
      @include background-blur-init();
      z-index: -1;
    }

    &:hover{
      &::before{
        height: 100%;
        opacity: .6;
      }
    }

    // # МОДИФИКАТОРЫ
    // Пользователь
    &_user{
      --color: #{$gray};
      grid-template-columns: repeat(3, auto);
    }
    // Баланс
    &_balance{
      grid-template-columns: 32px auto;
      grid-gap: 5px;

      &-rubles{
        --color: #{$red};
      }
      &-coins{
        --color: #{$gold};
      }
    }
    // Корзина
    &_cart{
      --color: #{$aqua};
      grid-template-columns: 32px auto auto;
      grid-gap: 5px;
    }
    // Боевой пропуск
    &_battle-pass{
      --color: #{$green};
      grid-template-columns: auto auto;
    }

    // # КОМПОНЕНТЫ
    // Пользователь
    &__user{
      // Аватарка (голова скина)
      &-avatar{
        display: block;
        width: 32px;
      }
      // Никнейм
      &-nickname{

      }
      // "Открыть профиль"
      &-group{
        display: inline-block;
        background: $dark-gray;
        color: $white;
        padding: 0 5px;
        text-shadow: 3px 3px $white-shadow;
        box-shadow: 3px 3px $dark-gray-shadow;
        text-transform: uppercase;
      }
    }
    // Баланс
    &__balance{
      &-icon{
        width: 32px;
        image-rendering: pixelated;
      }
    }
    // Корзина
    &__cart{
      &-icon{
        width: 32px;
        image-rendering: pixelated;
      }
      &--counter{
        color: $aqua;
        text-shadow: 3px 3px $aqua-shadow;
      }
    }
    // Боевой пропуск
    &__battle-pass-level{
      color: $green;
      text-shadow: 3px 3px $green-shadow;
    }
  }
}