.nav__global-nav{
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  grid-column-gap: 3px;
  list-style: none;

  li{
    display: block;
  }

  // Элемент списка
  &-item{
    --gradient: transparent;

    display: grid;
    background: linear-gradient(var(--gradient), transparent 75%);
    line-height: 1.4;
    font-size: 16px;
    color: $white;
    height: 70px;
    padding: 0 35px;
    text-shadow: 3px 3px $white-shadow;
    grid-column-gap: 10px;
    align-items: center;

    // Модификатор профиля пользователя
    &_user{
      --gradient: #{alpha($dark-gray, .3)};
      grid-template-columns: repeat(3, auto);
    }
    // Баланс
    &_balance{
      grid-template-columns: 32px auto;
      grid-gap: 5px;

      &-rubles{
        --color: #{$red};
      }
      &-coins{
        --color: #{$gold};
      }
    }
    // Корзина
    &_cart{
      --color: #{$aqua};
      grid-template-columns: 32px auto auto;
      grid-gap: 5px;
    }
    // Боевой пропуск
    &_battle-pass{
      --color: #{$green};
      grid-template-columns: auto auto;
    }

    // # КОМПОНЕНТЫ
    // Пользователь
    &__user{
      // Аватарка (голова скина)
      &-avatar{
        display: block;
        width: 32px;
      }
      // Никнейм
      &-nickname{

      }
      // "Открыть профиль"
      &-group{
        display: inline-block;
        background: $dark-gray;
        color: $white;
        padding: 0 5px;
        text-shadow: 3px 3px $white-shadow;
        box-shadow: 3px 3px $dark-gray-shadow;
        text-transform: uppercase;
      }
    }
    // Баланс
    &__balance{
      &-icon{
        width: 32px;
        image-rendering: pixelated;
      }
    }

    // Модификатор баланса
    &_balance{
      grid-template-columns: 32px auto;

      &-rubles{
        --gradient: #{alpha($dark-red, .3)};
      }
      &-coins{
        --gradient: #{alpha($gold, .3)};
      }

      &-icon{
        width: 32px;
        image-rendering: pixelated;
      }
    }
    // Боевой пропуск
    &__battle-pass-level{
      color: $green;
      text-shadow: 3px 3px $green-shadow;
    }
  }
}