.nav{
  position: fixed;
  padding-right: 100px;
  width: 100%;
  color: #fff;

  .wrapper{
    max-width: 100%;
    min-height: unset;
  }

  & ~ .wrapper{
    padding-top: 80px;
  }
}

@import
        'global-nav', // Основной список навигации
        'dropdown-nav' // Выпадающий список навигации
;