.add-balance{
  // Список вариантов пополнения
  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    width: 800px;
    margin: 25px auto;
    list-style: none;

    // Карточка пополнения
    &-item{
      display: block;
      background:
              $green
              url('#{$url}gui/add-balance.png')
              no-repeat center 120px;
      background-size: 402px;
      min-height: 280px;
      margin: 0!important;
      padding: 15px 0;
      box-shadow:
              inset 5px 5px alpha($white, .5),
              inset -5px -5px alpha($black, .5);

      // Выделение текста
      &__mark{
        display: inline-block;
        background: alpha($black, .5);
        font-size: 24px;
        padding: 10px;
      }
      small{
        display: block;
        margin: 5px 0 0;
        font-size: 16px;
      }
    }
  }

  &__other-amount{
    display: inline-block;
    position: relative;
    width: 420px;
    margin: 0 -15px 15px 0;
    text-align: left;

    .currency{
      position: absolute;
      top: 11px;
      left: 10px;
    }
  }

  &__input{
    background: none;
    font-size: 18px;
    padding: 15px 50px!important;
    margin: 0!important;
    text-align: left;
    text-transform: initial;
    @include bordered($gray);
  }
}