// Содержимое кейса
.case{
  // Заголвок
  &-title{
    font-size: 18px;
    color: $white;
    margin: 0 0 20px;
    text-shadow: 2px 2px $white-shadow;
  }

  // Сетка
  &-contains{
    display: grid;
    grid-template-columns: repeat(9, 58px);
    grid-gap: 15px;
    list-style: none;
  }

  // Ячейка
  &-item{
    --background: var(--gray-400);
    --background-hover: var(--gray-200);

    position: relative;
    background: var(--background);
    width: 58px;
    height: 58px;
    padding: 5px;
    @include bordered(var(--background));

    &:hover{
      --background: var(--background-hover);
      background: var(--background-hover);
    }

    &_rare{
      &-0{
        --background: #{alpha($green, .5)};
        --background-hover: #{alpha($green, .8)};
      }
      &-1{
        --background: #{alpha($blue, .7)};
        --background-hover: #{$blue};
      }
      &-2{
        --background: #{alpha($dark-purple, .7)};
        --background-hover: #{$dark-purple};
      }
      &-3{
        --background: #{alpha($dark-red, .7)};
        --background-hover: #{$dark-red};
      }
      &-4{
        --background: #{alpha($gold, .7)};
        --background-hover: #{$gold};
      }
    }

    // Иконка предмета
    &__icon{
      width: 48px;
      height: 48px;
      image-rendering: pixelated;
    }
    // Количество предмета
    &__count{
      position: absolute;
      font-size: 18px;
      color: $white;
      right: 0;
      bottom: 3px;
      text-shadow: 3px 3px $white-shadow;
    }
  }
}