.modal{
  // Цвет затемнения
  --blackout: #{alpha($black, .6)};
  --border: #{alpha($blue, .2)};
  --background: #{alpha($black, .8)};

  // Основные стили
  display: grid;
  position: fixed;;
  background: var(--blackout);
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  color: #fff;
  opacity: 0;
  align-items: center;
  pointer-events: none;
  transition: .15s ease-in-out;
  @include background-blur-init(35px);
  overflow: hidden auto;
  z-index: 99;

  &::-webkit-scrollbar {
    width: 16px;

    &-track {
      background: alpha($black, .4);
      @include background-blur-init();
    }
    &-thumb {
      background: alpha($black, .6);

      &:hover{
        background: $white;
      }
    }
  }

  // Модификации
  &_style{
    &-gold{
      --blackout: #{alpha($gold, .2)};
      --border: #{alpha($gold, .2)};
    }
  }

  // Группа контента
  &-area{
    // Основные стили
    padding: 35px 70px;
    text-align: center;
    transition: .15s ease-in-out;

    // Оконный вид группы
    // Объявлен переменной $modal в variables.scss
    &_windowed{
      background: var(--background);
      @if $modal == 'clean' {
        // Чистая версия, но проблемы с контрастами на чисто белом фоне
        --background: #{$white};
        @include bordered(var(--background), 15);
      }
      @if $modal == 'simple' {
        // Самый оптимальный вариант
        box-shadow:
                10px 0 var(--border),
                -10px 0 var(--border),
                0 10px var(--border),
                0 -10px var(--border),
                0 0 0 10px var(--background),
                20px 0 var(--background),
                -20px 0 var(--background),
                0 20px var(--background),
                0 -20px var(--background);
      }
      @if $modal == 'decorate'{
        // Прямо лютый OVERTHINKING
        box-shadow:
                0 40px 0 -20px var(--background),
                0 -40px 0 -20px var(--background),
                40px 0 0 -20px var(--background),
                -40px 0 0 -20px var(--background),

                0 0 0 10px var(--border),
                -40px 0 0 -10px var(--border),
                40px 0 0 -10px var(--border),
                0 -40px 0 -10px var(--border),
                0 40px 0 -10px var(--border);
      }
    }

    // Превью продукта
    &__icon{
      display: block;
      width: 210px;
      margin: 15px auto;
      image-rendering: pixelated;
    }

    // Заголовок второго уровня внутри группы
    &__heading{
      font-family: MinecraftTitle, sans-serif;
      line-height: 1.6;
      font-size: 42px;
      color: $white;
      text-shadow: 4px 4px $white-shadow;
    }

    // Примечание, скидка
    &__notice{
      --color-1: #{alpha($light-purple, .6)};
      --color-2: #{alpha($light-purple, .4)};

      display: block;
      font-family: MinecraftTitle, sans-serif;
      background:
              linear-gradient(
                              90deg,
                              transparent,
                              var(--color-1) 25%,
                              var(--color-2),
                              var(--color-1) 75%,
                              transparent
              );
      line-height: 32px;
      font-size: 24px;
      color: $white;
      margin: 0 0 5px;
      white-space: nowrap;
      text-shadow: 3px 3px $white-shadow;
      text-align: center;

      &_sale{
        --color-1: #{alpha($red, .6)};
        --color-2: #{alpha($red, .4)};
      }
      &_empty{
        --color-1: #{alpha($dark-gray, .6)};
        --color-2: #{alpha($dark-gray, .4)};
        color: $gray;
        text-shadow: 3px 3px $gray-shadow;
      }
    }
    .btn{
      margin: 0 10px;
    }

    //
    &__paragraph{
      font-size: 18px;
      color: $gray;
      margin: 25px 0 0;
    }
  }
}

// Имитация интерфейса
.inventory{
  margin: 30px auto 0;
  width: 606px;

  // Заголвок
  &-title{
    font-size: 20px;
    color: $white;
    margin: 0 0 10px;
    text-shadow: 2px 2px $white-shadow;
  }

  // Сетка
  &-grid{
    display: grid;
    grid-template-columns: repeat(9, 64px);
    list-style: none;
  }

  // Ячейка
  &-cell{
    background: var(--gray-400);
    width: 64px;
    height: 64px;
    box-shadow:
            inset 4px 4px $dark-gray,
            inset -4px -4px $white;
  }
}