.animate-list{

  @keyframes opacity-show{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  & > *{
    --delay: 1.5s;
    animation:
            opacity-show
            .3s
            ease-out
            var(--delay)
            both;

    @for $i from 1 to 50 {
      &:nth-of-type(#{$i}){
        --delay: #{$i * 30}ms;
      }
    }
  }
}