.btn{
  // Переменные
  @include btn-var-init(transparent, transparent);
  --color: #{$white};
  --text-shadow: #{$white-shadow};
  --outline-color: #{$white};
  --value: 5px;
  --value-reverse: -5px;
  --blur: 0;

  // Основное
  position: relative;
  display: inline-block;
  padding: 15px 45px;
  cursor: pointer;
  outline: none;
  transition: .1s ease-in-out;

  // Цвет блок
  background: var(--background);
  box-shadow:
          0 -5px var(--border-top),
          0 5px var(--border-bottom),
          5px 0 var(--border-middle),
          -5px 0 var(--border-middle),
          5px 10px var(--shadow),
          10px 5px var(--shadow),
          0 0 var(--blur) var(--background);

  // Настройки текста
  font-size: 20px;
  color: var(--color);
  text-shadow: 2px 2px var(--text-shadow);
  text-transform: uppercase;
  text-align: center;

  &::before{
    content:'';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -10px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: top .15s ease-in-out;
    box-shadow:
            var(--value) 0 var(--outline-color),
            var(--value-reverse) 0 var(--outline-color),
            0 var(--value) var(--outline-color),
            0 var(--value-reverse) var(--outline-color);
    z-index: 1;
  }

  &:not(&_disabled):hover{
    &::before{
      opacity: 1;
      top: 0;
    }
  }

  // Модификаторы
  &_primary{
    @include btn-var-init($blue, $blue-shadow);
  }
  &_success{
    @include btn-var-init(
                    lighten(desaturate($dark-green, 45), 10),
                    $green-shadow
    );
  }
  &_danger{
    @include btn-var-init(
                    lighten(desaturate($dark-red, 45), 10),
                    $red-shadow
    );
  }
  &_warning{
    @include btn-var-init($gold, $gold-shadow);
  }
  &_violet{
    @include btn-var-init($dark-purple, $light-purple-shadow);
  }
  &_info{
    @include btn-var-init($dark-aqua, $aqua-shadow);
  }
  &_light{
    @include btn-var-init(
                    darken($white, 10)
    );
  }
  &_secondary{
    @include btn-var-init($dark-gray);
  }
  &_dark{
    @include btn-var-init($dark-gray-shadow);
  }
  &_disabled{
    @include btn-var-init($gray-shadow);
    cursor: default!important;
    pointer-events: none;
  }

  &_hover{
    // Наведение отключено
    &-disabled{
      pointer-events: none;
    }
    // При наведении эффект задней пышной тени
    &-blue{
      pointer-events: none;
    }
  }
}

.overlay-close {
  position: fixed;
  border: none;
  background: url('#{$url}/icon/close.png') no-repeat center;
  background-size: 48px;
  height: 64px;
  width: 64px;
  top: 50px;
  right: 50px;
  cursor: pointer;
  outline: none;
  image-rendering: pixelated;

  &:hover {
    opacity: .5;
  }
}