.btn{
  // Переменные
  @include btn-var-init(transparent, transparent);
  --color: #{$white};
  --text-shadow: #{$white-shadow};
  --outline-color: #{$white};
  --value: 5px;
  --value-reverse: -5px;
  --blur: 0;

  // Основное
  position: relative;
  display: inline-block;
  padding: 15px 45px;
  cursor: pointer;
  outline: none;
  transition: .1s ease-in-out;

  // Цвет блок
  background: var(--background);
  box-shadow:
          0 -5px var(--border-top),
          0 5px var(--border-bottom),
          5px 0 var(--border-middle),
          -5px 0 var(--border-middle),
          5px 10px var(--shadow),
          10px 5px var(--shadow),
          0 0 var(--blur) var(--background);

  // Настройки текста
  font-size: 20px;
  color: var(--color);
  text-shadow: 2px 2px var(--text-shadow);
  text-transform: uppercase;
  text-align: center;

  // Псевдоэлемент-обводка для hover-эффекта
  &::before{
    content:'';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -10px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: top .15s ease-in-out;
    box-shadow:
            var(--value) 0 var(--outline-color),
            var(--value-reverse) 0 var(--outline-color),
            0 var(--value) var(--outline-color),
            0 var(--value-reverse) var(--outline-color);
    z-index: 1;
  }

  // Инициализация hover-эффекта
  &:not(&_disabled):hover{
    &::before{
      opacity: 1;
      top: 0;
    }
  }

  // Модификаторы состояния
  &_primary{
    @include btn-var-init($blue, $blue-shadow);
  }
  &_success{
    @include btn-var-init(
                    lighten(desaturate($dark-green, 45), 10),
                    $green-shadow
    );
  }
  &_danger{
    @include btn-var-init(
                    lighten(desaturate($dark-red, 45), 10),
                    $red-shadow
    );
  }
  &_warning{
    @include btn-var-init($gold, $gold-shadow);
  }
  &_violet{
    @include btn-var-init($dark-purple, $light-purple-shadow);
  }
  &_info{
    @include btn-var-init($dark-aqua, $aqua-shadow);
  }
  &_light{
    @include btn-var-init(
                    desaturate(lighten($blue, 20), 75)
    );
  }
  &_steel{
    @include btn-var-init(
                    desaturate(lighten($blue, 20), 45)
    );
  }
  &_secondary{
    @include btn-var-init($dark-gray);
  }
  &_dark{
    @include btn-var-init($dark-gray-shadow);
  }

  // Модификатор отключенного состояния кнопки
  &_disabled{
    @include btn-var-init($gray-shadow);
    cursor: default!important;
    pointer-events: none;
  }

  // Модификаторы hover-эффектов
  &_hover{
    // Наведение отключено
    &-disabled{
      &::before{
        display: none;
      }
    }
    // При наведении эффект задней пышной тени
    &-shadow{
      pointer-events: none;
    }
  }

  // Модификатор для кнопки покупки
  &_purchase{
    font-size: 0;
    padding: 0 15px;
    white-space: nowrap;

    &-section{
      position: relative;
      display: inline-block;
      line-height: 1.2;
      font-size: 24px;
      padding: 15px;
    }
    .btn-separator{
      position: absolute;
      background: var(--border-middle);
      height: 100%;
      top: 0;
      left: -1px;
      margin: 0;
    }
  }

  // Внутренние компоненты
  // Вертикальный разделитель внутри кнопки
  &-separator{
    display: inline-block;
    background: var(--border-top);
    width: 3px;
    margin: -5px 5px;
    vertical-align: top;
  }
  // Зачёркнутый текст
  &-strike{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    color: alpha($gray, .7);
    text-shadow: 2px 2px alpha($dark-gray-shadow, .7);
    vertical-align: top;

    // Зачеркивающая полоса
    &::before{
      content: '';
      display: block;
      position: absolute;
      background: $red;
      height: 3px;
      width: 100%;
      top: 12px;
      left: 0;
      opacity: .8;
      box-shadow: 3px 3px $red-shadow;
    }
  }
}

.overlay-close {
  position: fixed;
  border: none;
  background: url('#{$url}/icon/close.png') no-repeat center;
  background-size: 48px;
  height: 64px;
  width: 64px;
  top: 50px;
  right: 50px;
  cursor: pointer;
  outline: none;
  image-rendering: pixelated;

  &:hover {
    opacity: .5;
  }
}