.btn{
  // Переменные для работы
  --shadow: -15px;
  --first: var(--tertiary);
  --second: var(--primary);
  --text: var(--white);
  // Основные стили
  display: inline-block;
  border: none;
  background: var(--second) linear-gradient(0, var(--first), $none 150%) center top;
  font-weight: bold;
  font-size: 16px;
  color: var(--text);
  padding: 15px 20px;
  transition: .1s ease-in-out;
  box-shadow:
          inset 6px 0 alpha(#fff, .2),
          inset 0 6px alpha(#fff, .3),
          inset -6px 0 alpha(#000, .5),
          inset 0 -6px alpha(#000, .4),
          0 0 30px var(--shadow) var(--first),
          0 5px 50px var(--shadow) var(--second);
  cursor: pointer;
  outline: none;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:hover:not(:active){
    --shadow: -10px;
    filter: brightness(1.1);
  }
  &:active{
    opacity:.6;
  }
  &-primary{
    --first: var(--primary);
    --second: var(--custom);
  }
  &-secondary{
    --first: var(--info);
    --second: var(--custom);
  }
  &-success{
    --first: var(--tertiary);
    --second: var(--success);
    --text: #{alpha(#000, .6)};
  }
  &-danger{
    --first: var(--danger);
    --second: var(--dark-700);
    --text: #{alpha(#000, .6)};
  }
  &-dark{
    --first: var(--dark-600);
    --second: var(--custom);
  }
  &-light{
    --first: var(--primary-100);
    --second: var(--primary-50);
    --text: var(--dark-700);
  }
}