.donate{

  // Список-контейнер привилегий
  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px 24px;
    list-style: none;

    // Элемент списка
    &-item{

    }
  }

  // Карточка товара
  &-card{
    --background: #{alpha($black, .5)};
    --border: var(--background);
    --color: #{$white};
    --value: 8px;
    --value-reverse: -8px;

    display: block;
    position: relative;
    background: var(--background);
    height: 100%;
    padding: 30px 0;
    @include bordered(var(--border), 8);
    text-transform: initial;
    text-align: center;

    // Отключен
    &_disabled{
      display: grid;
      justify-content: center;
      align-items: center;

      &__icon{
        width: 160px;
        opacity: .1;
        image-rendering: pixelated;
      }
    }

    // Модификаторы цвета
    &_style{
      &-green{
        --color: #{$green};
      }
      &-red{
        --color: #{$red};
      }
      &-blue{
        --color: #{$blue};
      }
      &-aqua{
        --color: #{$aqua};
      }
      &-light-purple{
        --color: #{$light-purple};
      }
      &-gold{
        --border: #{alpha($gold, .8)};
        --color: #{$gold};
      }
    }

    // Плашка для отображения скидки или специального предложения
    &__sale{
      display: block;
      position: absolute;
      width: 100%;
      top: -18px;
      right: 0;
      left: 0;
      text-align: center;
      z-index: 1;

      &-text{
        display: inline-block;
        background: $red;
        line-height: 28px;
        font-size: 18px;
        color: $white;
        padding: 0 15px;
        white-space: nowrap;
        text-shadow: 3px 3px $white-shadow;
        box-shadow: 5px 5px alpha($dark-red, .5);
      }
    }

    // Иконка товара
    &__icon{
      display: block;
      height: 160px;
      width: 160px;
      margin: 0 auto;
      image-rendering: pixelated;

      &_offset{
        margin: 10px auto;
      }
    }

    // Заголовок
    &__title{
      font-family: MinecraftTitle, sans-serif;
      font-size: 24px;
      line-height: 1;
      color: var(--color);
      padding: 0 10px;
      text-shadow: 4px 4px alpha($black, .6);
    }

    // Стоимость
    &__price{
      line-height: 1;
      font-size: 20px;
      color: $white;
      text-shadow: 3px 3px $white-shadow;

      // Зачеркнутая цена (для отображения разницы при скидке)
      &-strike{
        display: inline-block;
        position: relative;
        padding: 0 4px;
        margin: 0 0 5px;
        color: alpha($gray, .7);
        text-shadow: 4px 4px $dark-gray-shadow;
        clear: both;

        // Зачеркивающая полоса
        &::before{
          content: '';
          display: block;
          position: absolute;
          background: $red;
          height: 3px;
          width: 100%;
          top: 9px;
          left: 0;
          opacity: .8;
          box-shadow: 3px 3px $red-shadow;
        }
      }
    }
  }
}