.donate{

  // Список-контейнер привилегий
  &__list{
    font-size: 0;
    list-style: none;

    // Элемент списка
    &-item{
      display: inline-block;
      max-width: 275px;
      width: 100%;
      margin: 0;
      vertical-align: top;

      &:not(:nth-child(4n+1)){
        margin-left: 30px;
      }
      &:nth-child(n+5){
        margin-top: 30px;
      }
    }
  }

  // Карточка донат-группы
  &-card{
    --background: #{alpha($black, .5)};
    --color: #{$white};
    --value: 7px;
    --value-reverse: -7px;

    display: block;
    position: relative;
    background: var(--background);
    padding: 25px 0;
    @include bordered(var(--background), 7);
    text-transform: initial;
    text-align: center;

    // Отключен
    &_disabled{
      display: grid;
      justify-content: center;
      align-items: center;

      &__icon{
        width: 160px;
        opacity: .3;
        image-rendering: pixelated;
      }
    }

    // Модификаторы цвета
    &_style{
      &-green{
        --background: #{alpha($green, .1)};
        --color: #{$green};
      }
      &-red{
        --background: #{alpha($red, .1)};
        --color: #{$red};
      }
      &-blue{
        --background: #{alpha($blue, .1)};
        --color: #{$blue};
      }
      &-aqua{
        --background: #{alpha($aqua, .1)};
        --color: #{$aqua};
      }
      &-light-purple{
        --background: #{alpha($light-purple, .1)};
        --color: #{$light-purple};
      }
      &-gold{
        --background: #{alpha($gold, .1)};
        --color: #{$gold};
      }
    }

    // Плашка для отображения скидки или специального предложения
    &__sale{
      display: block;
      position: absolute;
      background:
              linear-gradient(
                              90deg,
                              transparent,
                              $red,
                              transparent
              );
      line-height: 28px;
      font-size: 18px;
      color: $white;
      right: -7px;
      left: -7px;
      top: 10px;
      width: calc(100% + 14px);
      white-space: nowrap;
      text-shadow: 3px 3px $white-shadow;
      text-align: center;
    }

    // Иконка привилегии
    &__icon{
      display: block;
      height: 180px;
      width: 180px;
      margin: 10px auto;
      //image-rendering: pixelated;
    }

    // Наименование привилегии
    &__title{
      font-family: MinecraftTitle, sans-serif;
      font-size: 24px;
      line-height: 1.2;
      color: var(--color);
      padding: 20px 10px 0;
      text-shadow: 4px 4px alpha($black, .6);
    }

    // Стоимость привилегии
    &__price{
      line-height: 1;
      font-size: 20px;
      color: $white;
      text-shadow: 3px 3px $white-shadow;

      // Зачеркнутая цена (для отображения разницы при скидке)
      &-strike{
        display: inline-block;
        position: relative;
        padding: 0 4px;
        margin: 0 0 5px;
        color: alpha($gray, .7);
        text-shadow: 4px 4px $dark-gray-shadow;
        clear: both;

        // Зачеркивающая полоса
        &::before{
          content: '';
          display: block;
          position: absolute;
          background: $red;
          height: 3px;
          width: 100%;
          top: 9px;
          left: 0;
          opacity: .8;
          box-shadow: 3px 3px $red-shadow;
        }
      }
    }
  }
}