.header{
  padding: 20px 0 0 0;
  width: 100%;
  color: #fff;
  top: 0;
  left: 0;

  .wrapper{
    max-width: 100%;
  }

  &-list{
    display: grid;
    grid-template-columns: auto auto 1fr repeat(3, auto);
    grid-column-gap: 15px;
    list-style: none;

    // Элемент списка
    &__item{
      display: grid;
      grid-template-columns: 32px auto;
      position: relative;
      line-height: 24px;
      font-size: 16px;
      height: 42px;
      padding: 0 10px;
      text-transform: initial;
      grid-column-gap: 10px;
      align-items: center;

      // Иконка у кнопки
      &-icon{
        width: 32px;
        image-rendering: pixelated;
      }

      // Текст и модификаторы цвета
      &-text{
        color: $gray;
        text-shadow: 2px 2px $gray-shadow;
      }
    }

    // # МОДИФИКАТОРЫ
    // Пользователь
    &__user{
      grid-template-columns: repeat(3, auto);

      // Аватарка (голова скина)
      &-avatar{
        display: block;
        position: relative;
        width: 42px;
        top: -4px;
        image-rendering: pixelated;
      }
      // Никнейм
      &-nickname{

      }
      // "Открыть профиль"
      &-group{
        display: inline-block;
        background: $dark-gray;
        color: $white;
        padding: 0 5px;
        text-shadow: 2px 2px $white-shadow;
        box-shadow: 3px 3px $dark-gray-shadow;
      }
    }

    // Баланс
    &__balance{
      &-icon{
        width: 32px;
        image-rendering: pixelated;
      }
    }
    // Корзина
    &__cart{
      grid-template-columns: 32px auto auto;
      &--counter{
        color: $aqua;
        text-shadow: 2px 2px $aqua-shadow;
      }
    }
  }
}