.header{
  --padding: 15px;

  position: relative;
  width: 100%;
  color: $white;
  top: 0;
  left: 0;
  z-index: 10;

  *{
    font-family: MinecraftTitle, sans-serif;
  }

  // Контейнер раздела
  .wrapper{
    max-width: 100%;
  }

  // Сетка списка навигации в шапке
  &-list{
    display: grid;
    grid-template-columns: auto 1fr auto;

    padding: var(--padding) 0 5px;
    list-style: none;

  }

  &-section{
    --border: #{alpha($white, .15)};

    font-size: 0;
    @include bordered(var(--border));
    white-space: nowrap;
  }

  // Элемент навигации в шапке
  &-item{
    display: inline-block;
    background: alpha($black, .3);
    line-height: 28px;
    font-size: 20px;
    padding: 5px 15px;

    &:not(:first-child){
      margin-left: 5px;
      box-shadow: -5px 0 var(--border);
    }

    // Эффект наведения
    &:not(:hover){
      text-shadow: 3px 3px $white-shadow;
    }
    &:hover{
      //background: $white;
      //color: $dark-gray;
    }

    // Превью элемента
    &__img{
      height: 28px;
      image-rendering: pixelated;
      vertical-align: top;
    }
  }
}