.nav{
  display: grid;
  grid-template-columns: auto 1fr auto;
  background: alpha($black, .3);
  height: 36px;
  margin: 20px 0 0;
  @include bordered(alpha($black, .3), 5);

  // Список с элементами навигации
  &-list{
    position: relative;
    font-size: 0;
    height: 61px;
    top: -15px;
    padding: 15px 0 10px;
    list-style: none;
    text-align: center;
    white-space: nowrap;
    overflow: scroll hidden;
    z-index: 1;

    &::-webkit-scrollbar {
      background: transparent;
      height: 0;
      width: 0;
    }

    // Элемент списка
    &-item{
      display: inline-block;
    }
  }
  // Элемент навигации, стилизация кнопок
  &-item{
    --color: #{$gray};
    --text-shadow: #{$gray-shadow};

    display: block;
    height: 36px;
    line-height: 36px;
    font-family: MinecraftTitle, sans-serif;
    font-size: 16px;
    padding: 0 15px;
    margin: 0 7.5px;
    text-transform: initial;

    // Текущая вкладка
    &_checked{
      //--background: #{$dark-gray-shadow};
      --color: #{$white};
      --text-shadow: #{$green-shadow};

      background: var(--background);
      pointer-events: none;
      @include bordered(alpha($gray, .35));

      &__status{
        display: inline-block;
        position: absolute;
        background: $white-shadow;
        line-height: 14px;
        font-family: inherit;
        font-size: 14px;
        width: 100px;
        color: $gold;
        top: calc(100% - 5px);
        left: 0;
        right: 0;
        margin: auto;
        padding: 0 0 5px;
        text-shadow: 0 0 transparent;
      }
    }

    // Модификатор для роли кнопок
    &_role{
      // Кнопки управления "Вперёд" и "Назад"
      &-control{
        --color: #{$white};
        --text-shadow: #{$white-shadow};
      }
    }
  }
}