.page{
  --gradient: #{alpha($gray, .1)};

  display: grid;
  grid-template-columns: 100%;
  align-items: center;

  padding: 25px 0;
  overflow: hidden auto;

  // Модификатор стилей
  &_style{
    &-gold{
      --gradient: #{alpha($gold, .2)};
    }
  }

  // Заголовок h1
  &-heading{
    --text-shadow-size: 6px;

    font-family: MinecraftTitle, sans-serif;
    font-size: 54px;
    color: #fff;
    line-height: 1;
    text-shadow:
            var(--text-shadow-size) var(--text-shadow-size) $white-shadow;

    // Модификатор для выравнивания текста по центру
    &_align-center{
      text-align: center;
    }

    // Наследование шрифта у всех дочерних элементов
    *{
      font: inherit;
    }
  }

  // Сгруппированный список привилегий
  &__area{
    padding: 15px 0;

    // Модификатор промо-раздела
    &_promo{
      background:
              linear-gradient(
                              to right,
                              transparent 2%,
                              alpha($green, .5),
                              alpha($gold, .5),
                              transparent 98%
              );
      padding: 25px 0 35px;
      margin: 0 0 15px;
    }

    // Заголовок 2-го уровня
    &-heading{
      font-size: 24px;
      color: $green;
      margin: 0 0 35px;
      text-shadow: 3px 3px $green-shadow;
      text-align: center;

      &__timer{
        color: $gold;
        text-shadow: 3px 3px $gold-shadow;
      }
    }
  }
}

// Реализация со всеми тенями стиля стандартного GUI
.window{
  --background: var(--gray-200);
  --border: var(--gray-900);
  --light: var(--white);
  --shadow: var(--gray-600);

  // Основные стили
  background: var(--background);
  padding: 25px 15px;
  box-shadow:
          // === ПРАВАЯ ГРАНИЦА ===
          // Тень у границы
          20px 0 0 -12px var(--shadow),
          14px 2px 0 -10px var(--shadow),
          12px 0 0 -8px var(--background),
            // Черный контур
          8px 0 0 -4px var(--border),
          16px 0 0 -8px var(--border),
          24px 0 0 -12px var(--border),

            // === ЛЕВАЯ ГРАНИЦА ===
            // Тень у границы
          -20px 0 0 -12px var(--light),
          -14px 2px 0 -10px var(--light),
          -12px 0 0 -8px var(--light),
            // Черный контур
          -8px 0 0 -4px var(--border),
          -16px 0 0 -8px var(--border),
          -24px 0 0 -12px var(--border),

            // === ВЕРХНЯЯ И НИЖНЯЯ ===
            // Верхняя граница
          inset 0 4px var(--border), // Черный контур
          inset 0 12px var(--light), // Тень
            // Нижняя граница
          inset 0 -4px var(--border), // Черный контур
          inset 0 -12px var(--shadow) // Тень
;
}