.tooltip{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .9999;
  box-shadow: 0 5px 25px 5px transparentize(#000,.4);
  pointer-events: none;
  z-index: 9999;

  // tooltip-trigger предназначен JS-обработчику
  // для отображения тултипа и компонента, имеющего этот класс
  &-trigger{
    // У всех внутренних элементов отключить события мыши
    *{
      pointer-events: none;
    }
  }

  // Основной контейнер с содержимым
  &__content{
    background: var(--gray-900);
    border: 4px solid darken($blue,55%);
    padding: 8px;
    color: $gray;
    @include bordered(#030303, 8);
    text-align: left;
  }

  // Заголовок // data-title
  &__title{
    line-height: 1.2;
    font-weight: normal;
    font-size: 18px;
    color: $aqua;
    text-shadow: 2px 2px $aqua-shadow;
  }

  // Описание // data-row
  p{
    max-width: 320px;
    margin: 5px 0 0;
    line-height: 1.4;
    font-size: 16px;
  }

  // Последняя строчка // data-meta
  &__meta{
    width: 320px;
    color: $blue;
    text-shadow: 2px 2px $blue-shadow;
  }

  // Обёртка для Изменение цвета фрагмента текста
  span{
    --color: inherit;
    --shadow: inherit;
    color: var(--color);
    text-shadow: 2px 2px var(--shadow);
  }

  // Инициализация модификаторов со всей палитрой
  @each $value in $colors-map {
    @include tooltip-color($value);
  }
}