.tooltip{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .9999;
  box-shadow: 0 5px 25px 5px transparentize(#000,.4);
  pointer-events: none;
  z-index: 9999;

  // tooltip-trigger предназначен JS-обработчику
  // для отображения тултипа и компонента, имеющего этот класс
  &-trigger{
    // У всех внутренних элементов отключить события мыши
    *{
      pointer-events: none;
    }
  }

  // Основной контейнер с содержимым
  &__content{
    background: var(--gray-900);
    border: 6px solid darken($blue,55%);
    padding: 8px;
    line-height: 1.4;
    font-size: 16px;
    color: $gray;
    text-shadow: 2px 2px $gray-shadow;
    @include bordered(#030303, 8);
    text-align: left;
  }

  // Заголовок // data-title
  &__title{
    font-weight: normal;
    font-size: 18px;
    color: $aqua;
    text-shadow: 2px 2px $aqua-shadow;
  }

  // Описание // data-row
  p{
    max-width: 320px;
  }

  // Последняя строчка // data-meta
  &__meta{
    width: 320px;
    color: $blue;
    text-shadow: 2px 2px $blue-shadow;
  }

  // Обёртка для Изменение цвета фрагмента текста
  span{
    --color: inherit;
    --shadow: inherit;
    color: var(--color);
    text-shadow: 2px 2px var(--shadow);
  }

  // Индикатор прогресса
  &__progress{
    // Основной контейнер
    &-bar{
      display: block;
      background: $dark-gray-shadow;
      margin: 5px 0;
      padding: 5px;
      height: 18px;
    }
    // Внутренняя полоса прогресса
    &-line{
      display: block;
      background: linear-gradient(
                      to right,
                      $gold 90%,
                      transparent 90%
      ) repeat-x;
      background-size: 31px;
      height: 100%;
    }
  }

  // Разделитель
  hr{
    display: block;
    border: none;
    height: 0;
    margin: 8px 0;
  }

  // Инициализация модификаторов со всей палитрой
  @each $value in $colors-map {
    @include tooltip-color($value);
  }
}