// Основной контейнер
// Для модалок и экранов кабинета
// С затемнением *** блюром фона
.overlay{
  display: grid;
  grid-template-rows: 118px 1fr;

  position: absolute;
  background: #{alpha(#000, .6)};
  padding: 0 100px 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .15s ease-in-out;
  overflow: hidden;
  z-index: 1;

  // Инициализация размытия заднего фона
  @include background-blur-init;
}

// Контейнер для ограничения по ширине
.wrapper{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;

  // Модификатор для модального окна с центрированием
  &_modal{
    display: flex;
    justify-content: center;
    padding: 75px 0 150px;

    &-wide{
      background: alpha($black, .9);
      padding: 0;
      max-width: 100%;
    }
  }
}



