.achievements{
  padding: 25px 35px 25px 50px;

  // Заголовок раздела с достижениями
  &-heading {
    --text-shadow-size: 4px;
    font-family: MinecraftTitle,sans-serif;
    font-size: 32px;
    text-align: center;
  }

  // Контейнер с категориями
  &__category{
    position: relative;
    background:
            // Левыый контур
            url('#{$url}gui/achievements-stripe__left.png')
            repeat-y bottom left,
            // Правый контур
            url('#{$url}gui/achievements-stripe__right.png')
            repeat-y center right,
            // Верхний контур
            url('#{$url}gui/achievements-stripe__top.png')
            repeat-x top left,
            // Цвет фона
            $dark-red
            // Нижний контур
            url('#{$url}gui/achievements-stripe__bottom.png')
            repeat-x bottom right;
    background-size: 25px, 25px, 500px, 500px;
    padding: 35px 25px;
    margin: 0 0 35px;
    image-rendering: pixelated;
    @include bordered(
                    $dark-red-shadow,
                    5,
                    #{inset 0 0 0 10px $dark-red-shadow}
    );

    // Размытие по периметру (слева и справа)
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: calc(100% - 50px);
      height: calc(100% - 70px);
      top: 35px;
      left: 25px;
      box-shadow:
              inset -30px 0 15px -15px $dark-red,
              inset 30px 0 15px -15px $dark-red;
      pointer-events: none;
      z-index: 1;
    }

    // Список категорий
    &-list{
      padding: 25px 45px 35px;
      overflow: scroll hidden;
      white-space: nowrap;
      list-style: none;

      // Стилизация в обычном состоянии (полупрозрачный, почти не виден)
      &::-webkit-scrollbar {
        background: alpha($black, .1);
        height: 16px;

        &-thumb {
          background: transparent;
        }
      }

      // Элемент списка
      &__item{
        display: inline-block;
        background: $dark-red-shadow;
        height: 250px;
        box-shadow: 0 0 15px 15px $dark-red-shadow;
        vertical-align: top;

        &:not(:first-child){
          margin-left: 45px;
        }
      }
    }

    // При наведении на основной контейнер
    &:hover{
      // У списка категорий
      .achievements__category-list{
        // Стилизация скроллбара
        &::-webkit-scrollbar {
          background: alpha($black, .3);

          &-thumb {
            background: $black;

            &:hover {
              background: $white;
            }
          }
        }
      }
    }

    // Общая статистика
    &-stats{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto 1fr auto;
      justify-content: center;
      align-items: end;
      grid-gap: 30px;

      padding: 20px;
      width: 200px;
      height: 100%;
      text-align: center;

      // Наследование шрифта
      *{
        font-family: MinecraftTitle,sans-serif;
      }

      // Индикатор прогресса (глобальный)
      &__progress{
        display: grid;
        align-items: center;

        position: relative;
        border: 10px solid alpha($white, .1);
        background: alpha($black, .7);
        font-size: 21px;
        width: 90px;
        height: 90px;
        margin: auto;
        box-shadow: 0 0 0 15px alpha($black, .7);

        // Имитация прогрессии
        &::before{
          content: '';
          display: block;
          position: absolute;
          border-top: 10px solid $gold;
          border-right: 10px solid $gold;
          width: calc(50% + 10px);
          height: 75%;
          top: -10px;
          right: -10px;
        }
      }
    }

    // Карточка категории
    &-item{
      --background: #{$black};

      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 96px 34px;
      justify-content: center;
      align-items: center;
      grid-gap: 20px;

      background: var(--background) no-repeat center;
      background-size: 320px;
      line-height: 20px;
      font-size: 16px;
      width: 180px;
      height: 100%;
      padding: 20px;
      @include bordered(var(--background));
      white-space: initial;

      // Наследование шрифта
      *{
        font-family: MinecraftTitle,sans-serif;
        pointer-events: none!important;
      }

      // Счетчик достижений
      .text{
        --background: transparent;

        display: inline-block;
        background: var(--background);
        padding: 0 10px;
        transition: .2s;
        @include bordered(var(--background));
      }

      // Состояние активной
      &_premium{
        --background: #{$gold};
        background-image: url('#{$url}icon/battle-pass-alt.png');

        .text{
          --background: var(--text-shadow);
        }
      }

      // Состояние активной
      &_checked{
        --background: #{$white};
        color: $dark-gray;
        text-shadow: 0 0;
        pointer-events: none;

        .text{
          --background: var(--text-shadow);
        }
      }
    }

    // Ионка категории
    &-icon{
      width: 96px;
      height: 96px;
      margin: 0 auto;
      image-rendering: pixelated;
    }

    // Индикатор прогресса
    &-progress{
      --value: 0%;
      --style: #{$gold};

      display: block;
      background:
              $dark-gray-shadow
              linear-gradient(
                              90deg,
                              var(--style) var(--value),
                              transparent var(--value)
              );
      height: 6px;
      margin: 0 0 15px;
      box-shadow: 0 0 0 4px $dark-gray-shadow;

      &_style{
        &-10{
          --value: 10%;
        }
        &-35{
          --value: 35%;
        }
        &-75{
          --value: 75%;
        }
        &-100{
          --value: 100%;
          --style: #{$green};
        }
      }
    }
  }
}