.achievements{
  padding-bottom: 0;

  // Сетка экрана
  &-area{
    min-height: 180px;
  }

  // Заголовок раздела с достижениями
  &__heading{
    font-size: 32px;
    color: $white;
    text-shadow: 4px 4px $white-shadow;
  }
}