.index{
  position: relative;

  // Группа кнопок
  &-group{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 276px;
    grid-gap: 32px 24px;
    padding: 35px 0 32px;
    justify-content: center;

    // Кнопка в меню
    &__btn{
      --background: #{alpha($black, .5)};
      --value: 8px;
      --value-reverse: -8px;

      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      line-height: 1.3;
      font-size: 18px;
      padding: 45px 15px;
      text-transform: initial;

      @include bordered(var(--background), 8);

      // Модификатор цвета кнопки
      &_style{
        &-blue{
          --background: #{alpha($blue, .5)};
        }
        &-green{
          --background: #{alpha($green, .5)};
        }
        &-gold{
          --background: #{alpha($gold, .5)};
        }
        &-violet{
          --background: #{alpha($light-purple, .9)};
        }
        &-red{
          --background: #{alpha($dark-red, .7)};
        }
      }

      // Модификаторы внутренней сетки
      &_grid{
        // Боевой пропуск
        &-battle-pass{
          &::after{
            content:'';
            display: block;
            position: absolute;
            background: url('#{$url}/icon/battle-pass.png') no-repeat center -64px;
            background-size: 320px;
            width: calc(100% + 14px);
            height: calc(100% + 14px);
            top: -7px;
            left: -7px;
            image-rendering: pixelated;
          }
        }
        // Горизонтальное расположение
        &-inline{
          grid-template-columns: auto 1fr;
          grid-template-rows: auto;
          align-items: center;
          grid-gap: 15px;
          padding: 5px 25px;

          .index-menu__group__btn-img{
            width: 48px;
            margin: 0;
          }
        }
      }

      // Иконка в кнопке
      &-icon{
        display: block;
        height: 112px;
        margin: 0 auto 20px;
        image-rendering: pixelated;

        // Модификатор для отключения эффекта пикселизации иконок
        &_smoothed{
          image-rendering: initial;
        }

        // Модификатор для уменьшенной версии иконок
        &_scaled{
          height: 48px;
          margin: 0;
        }
      }

      // Текст кнопки
      &-text{
        position: relative;
        z-index: 1;
      }
    }
  }

  // Футер
  &-footer{
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
}