.index-menu{
  position: relative;

  // Заголовок h1
  &__heading{
    line-height: 1;
    font-size: 42px;
    color: #fff;
    padding: 80px 0 48px;
    text-shadow: 5px 5px $white-shadow;
  }
  // Закрытие окна
  .overlay_close{
    position: absolute;
    top: 69px;
    right: 0;
  }

  // Группа кнопок
  &__group{
    display: grid;
    grid-template-columns: repeat(6, 160px);
    grid-gap: 34px 24px;

    &:not(:first-of-type) {
      margin-top: 80px;
    }
    // Заголовок группы
    &-heading{
      grid-column-start: 1;
      grid-column-end: 7;
      font-size: 24px;
      color: $gray;
      text-shadow: 4px 4px $gray-shadow;
    }
    // Кнопка
    &__btn{
      --backdrop: #{alpha($black, .6)};
      display: flex;
      width: 160px;
      height: 130px;
      background: var(--backdrop);
      box-shadow:
              0 -20px 0 -10px var(--backdrop),
              0 20px 0 -10px var(--backdrop);
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover{
        --backdrop: #{alpha($dark-gray, .4)};
      }

      // Картинка в кнопке
      &-img{
        width: 60px;
        margin: auto;
        image-rendering: pixelated;

        // Модификатор размера
        &_size{
          // Голова скина
          &_head{
            width: 70px;
            image-rendering: high-quality;
          }
        }
      }

      // Текст в кнопке
      &-text{
        display: block;
        line-height: 1.4;
        color: $white;
        margin: 0 0 10px;
        text-shadow: 3px 3px $white-shadow;
        text-align: center;
      }

      // Модификаторы размера
      &_size-large{
        width: 344px;
        height: unset;
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;

        .index-menu__group__btn-img{
          width: 300px;
        }
        .index-menu__group__btn-text{
          font-size: 21px;
        }
        .btn-text_green{
          display: block;
          color: $green;
          text-shadow: 3px 3px $gold-shadow;
        }
      }

      // Модификаторы состояния
      &_disabled{
        --backdrop: #{alpha($black, .3)};
        pointer-events: none;

        .index-menu__group__btn-text{
          color: $dark-gray;
          text-shadow: 3px 3px $dark-gray-shadow;
        }
      }

      // Модификаторы цвета
      &_color{
        &-red{
          --backdrop: #{alpha($dark-red-shadow, .6)};

          &-hover:hover,
          &:hover{
            --backdrop: #{alpha($dark-red, .4)};
          }
        }
        &-gold{
          --backdrop: #{alpha($gold, .4)};

          &-hover:hover,
          &:hover{
            --backdrop: #{alpha($gold, .6)};
          }
        }
        &-green{
          --backdrop: #{alpha($green, .4)};

          &-hover:hover,
          &:hover{
            --backdrop: #{alpha($green, .6)};
          }
        }
        &-purple{
          --backdrop: #{alpha($dark-purple, .4)};

          &-hover:hover,
          &:hover{
            --backdrop: #{alpha($dark-purple, .6)};
          }
        }
        &-aqua{
          --backdrop: #{alpha($aqua, .4)};

          &-hover:hover,
          &:hover{
            --backdrop: #{alpha($aqua, .6)};
          }
        }
      }
    }
  }
}