.index-menu{

  // Заголовок h1
  &__heading{
    line-height: 1;
    font-size: 36px;
    color: #fff;
    padding: 64px 0;
    text-shadow: 5px 5px $white-shadow;
    text-align: center;
  }

  // Группа кнопок
  &__group{
    display: grid;
    grid-template-columns: repeat(6, 160px);
    grid-gap: 24px;

    &:not(:first-of-type) {
      margin-top: 50px;
    }
    // Заголовок группы
    &-heading{
      grid-column-start: 1;
      grid-column-end: 7;
      margin-bottom: 15px;
      font-size: 28px;
      color: $gray;
      text-shadow: 4px 4px $gray-shadow;
      text-align: center;
    }
    // Кнопка
    &__btn{
      display: flex;
      width: 160px;
      height: 130px;
      @include index-menu__btn($black);
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover{
        @include index-menu__btn($dark-gray, .4);
      }

      // Модификаторы цвета
      &_red{
        @include index-menu__btn($dark-red-shadow);

        &:hover{
          @include index-menu__btn($dark-red, .4);
        }
      }
      &_gold{
        @include index-menu__btn($gold, .4);

        &:hover{
          @include index-menu__btn($gold, .8);
        }
      }
      &_green{
        //@include index-menu__btn($green, .2);

        &:hover{
          @include index-menu__btn($green, .2);
        }
      }
      &_purple{
        //@include index-menu__btn($dark-purple, .2);

        &:hover{
          @include index-menu__btn($dark-purple, .2);
        }
      }
      &_aqua{
        //@include index-menu__btn($blue, .2);

        &:hover{
          @include index-menu__btn($aqua, .2);
        }
      }

      // Картинка в кнопке
      &-img{
        width: 60px;
        margin: auto;
        image-rendering: pixelated;

        // Модификатор размера
        &_size{
          // Голова скина
          &_head{
            width: 70px;
            image-rendering: high-quality;
          }
        }
      }

      // Текст в кнопке
      &-text{
        display: block;
        font-size: 16px;
        color: $white;
        margin: 0 0 15px;
        text-shadow: 3px 3px $white-shadow;
      }
    }
  }
}

.overlay_close {
  position: absolute;
  border: none;
  background: url('#{$url}/alt/close.png') no-repeat center;
  background-size: 48px;
  height: 64px;
  width: 64px;
  top: 50px;
  right: 50px;
  cursor: pointer;
  outline: none;
  image-rendering: pixelated;

  &:hover {
    opacity: .5;
  }
}