.personalization{
  padding: 25px 0;

  &-grid{
    display: grid;
    grid-template-columns: 1fr 60%;
  }

  // Область кастомизации персонажа
  &__character{
    position: relative;

    &-skin{
      position: fixed;
      display: block;
      top: 150px;
      left: -2%;
      image-rendering: pixelated;
    }
  }

  // Навигация / Голова, тело, питомец, эффекты
  &-nav{
    position: relative;
    padding: 25px 0 0;
    z-index: 2;

    // Внутренний список
    &__list{
      --background: #{alpha($black, .7)};

      display: grid;
      grid-template-columns: repeat(auto-fit, 78px);
      justify-content: center;
      align-items: center;
      grid-gap: 15px;

      padding: 0 0 5px;
      box-shadow:
              inset 0 -5px alpha($white, .3),
              0 5px $dark-gray;
      text-align: center;
      list-style: none;

      // Разделитель списка
      &-separator{
        display: block;
        background: $white;
        height: 16px;
        width: 4px;
        margin: 0 15px;
      }
    }

    // Элемент навигации
    &__item{
      //--background: #{alpha($black, .3)};
      //--shadow: #{alpha($blue, .2)};

      display: block;
      position: relative;
      padding: 15px;
      transition: 0s;
      @include bordered(
                      $black,
                      5,
                      inset 0 0 0 5px var(--shadow)
      );

      &_empty{
        //--shadow: #{alpha($gray, .2)};
      }
      &_checked{
        --background: #{alpha($gold-shadow, .3)};
        //--shadow: #{alpha($gold, .2)};
      }

      &-img{
        display: block;
        width: 48px;
        pointer-events: none!important;
        image-rendering: pixelated;

        filter: saturate(0) brightness(100);
      }
    }
  }

  // Окно с галереей персонализации
  &-gallery{
    --background: #{alpha($black, .7)};

    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 15px;

    position: relative;
    background: var(--background);
    padding: 35px 15px;
    @include bordered(var(--background), 10);
    z-index: 1;
  }

  // Заголовок
  &-heading{
    font-size: 21px;

    &:not(:first-of-type){
      margin-top: 30px;
    }

  }

  // Список
  &-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;

    margin-top: 5px;
    list-style: none;

    &:not(:last-of-type){
      margin-bottom: 35px;
    }
  }

  // Карточки элементов персонализации в галлерее
  &-item{
    --background: #{alpha($black, .5)};
    --inset-shadow: #{alpha($white, .1)};
    --gradient: var(--inset-shadow);
    --shadow: var(--background);

    position: relative;
    background:
            var(--background)
            radial-gradient(
                            #{var(--gradient)},
                            transparent 65%
            ) center;
    padding: 0;
    width: 100%;
    height: 170px;
    @include bordered(
                    var(--shadow),
                    5,
                    #{inset 0 0 0 5px var(--inset-shadow)}
    );

    // Состояния карточки элемента персонализации
    &_purchased{
      --inset-shadow: #{alpha($blue, .4)};
    }
    &_checked{
      --gradient: #{alpha($gold, .4)};
      --inset-shadow: #{$gold};
    }

    // Контейнер для централизации картинки элемента персонализации
    &__preview{
      display: grid;
      align-items: center;

      position: absolute;
      padding: 20px;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 0;

      //Картинка элемента персонализации
      img{
        display: block;
        width: 100%;
      }
    }
  }
}