.personalization{
  padding: 50px 0;
  overflow: hidden;

  &-grid{
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: 777px;
    grid-gap: 35px;
    height: 777px;
  }

  // Навигация / Голова, тело, питомец, эффекты
  &__nav{
    // Внутренний список
    &__list{
      display: grid;
      background: alpha($dark-gray, .2);
      grid-template-columns: repeat(4, 72px) auto 72px;
      align-items: center;
      justify-content: center;
      text-align: center;
      list-style: none;

      // Элементы списка
      &-item{

      }

      // Разделитель списка
      &-separator{
        display: block;
        background: $white;
        height: 16px;
        width: 4px;
        margin: 0 15px;
      }
    }

    // Элемент навигации
    &-item{
      display: block;
      position: relative;
      padding: 15px;
      color: transparent;

      &:hover,
      &_checked{
        color: $white;

        .personalization__nav-item__img{
          opacity: 1;
        }
      }

      &__img{
        display: block;
        width: 42px;
        opacity: .3;
        image-rendering: pixelated;
      }
      &__text{
        display: none;
        position: absolute;
        font-size: 12px;
        width: 100px;
        top: 54px;
        left: calc((100px - 72px) / -2);
        white-space: nowrap;
      }
    }
  }

  // Область кастомизации персонажа
  &__character{
    position: relative;

    &-img{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      image-rendering: pixelated;
    }
  }

  //
  &-content{
    --background: #{alpha($black, .5)};

    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 15px;

    background: var(--background);
    padding: 0 0 15px;
    @include bordered(var(--background), 15);
  }

  // Окно с галлереей персонализации
  &-gallery{
    padding: 5px 20px 5px 5px;
    overflow: hidden scroll;

    // Стилизация скроллбара
    &::-webkit-scrollbar {
      width: 15px;

      &-track {
        background:
                linear-gradient(
                                90deg,
                                transparent 30%,
                                $dark-gray-shadow 30% 70%,
                                transparent 70%
                );
      }
      &-thumb {
        background: $dark-gray;

        &:hover{
          background: $white;
        }
      }
    }

    // Заголовок
    &__heading{
      font-size: 21px;
      color: $gray;
      margin: 0 0 20px;
      text-shadow: 3px 3px $gray-shadow;

      &_special{
        color: $gold;
        text-shadow: 3px 3px $gold-shadow;
      }

      &:not(:first-of-type){
        margin-top: 30px;
      }

      &-counter{
        color: $green;
        text-shadow: 3px 3px $green-shadow;
      }
    }

    // Список
    &__list{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
      list-style: none;
    }

    // Карточки элементов персонализации в галлерее
    &__item{
      --background: #{alpha($black, .5)};
      --inset-shadow: #{$dark-gray-shadow};
      --shadow: #{$dark-gray};

      display: grid;
      grid-template-rows: 1fr auto;
      grid-gap: 10px;
      padding: 15px;
      width: 100%;
      height: 100%;
      min-height: 180px;
      box-shadow:
              inset 0 0 0 10px var(--inset-shadow),
              0 -5px var(--shadow),
              0 5px var(--shadow),
              -5px 0 var(--shadow),
              5px 0 var(--shadow);

      // Состояния карточки элемента персонализации
      &_role{
        &-purchased{
          --inset-shadow: #{$blue-shadow};
          --shadow: #{$blue};
        }
        &-checked{
          --inset-shadow: #{$gold-shadow};
          --shadow: #{$gold};
        }
      }

      // Контейнер для централизации картинки элемента персонализации
      &-preview{
        display: flex;
        align-items: center;
      }

      // Картинка элемента персонализации
      &-img{
        display: block;
        width: 100%;
      }

      // Цена товара
      .donate-card__price{
        font-size: 14px;
        text-align: left;
      }

      // КУплено / Экипировано
      &-text{
        color: $blue;
        text-shadow: 3px 3px $blue-shadow;

        &_checked{
          color: $gold;
          text-shadow: 3px 3px $gold-shadow;
        }

        &_disabled{
          line-height: .8;
          color: $dark-gray;
          text-shadow: 3px 3px $dark-gray-shadow;
        }
      }

      // Иконка статуса товара
      &-status{
        display: block;
        background: var(--image) no-repeat center;
        background-size: cover;
        height: 24px;
        width: 24px;
        float: right;
        image-rendering: pixelated;

        // Статус "не куплен"
        &_disabled{
          --image: #{url('#{$url}gui/personalization-locked.png')}
        }
        // Статус "куплен"
        &_purchased{
          --image: #{url('#{$url}gui/check_blue.png')}
        }
        // Статус "экипирован"
        &_checked{
          --image: #{url('#{$url}gui/check_gold.png')}
        }
      }
    }
  }
}