.personalization{
  overflow: hidden;

  &-grid{
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 35px;
    height: 777px;
  }

  // Навигация / Голова, тело, питомец, эффекты
  &__nav{
    // Внутренний список
    &__list{
      display: grid;
      grid-template-columns: 62px 62px 62px 62px auto 62px;
      align-items: center;
      justify-content: center;
      text-align: center;
      list-style: none;

      // Элементы списка
      &-item{

      }

      // Разделитель списка
      &-separator{
        display: block;
        background: $white;
        height: 16px;
        width: 4px;
        margin: 0 15px;
      }
    }

    // Элемент навигации
    &-item{
      display: block;
      position: relative;
      padding: 15px;
      color: transparent;

      &:hover,
      &_checked{
        color: $white;

        .personalization__nav-item__img{
          opacity: 1;
        }
      }

      &__img{
        display: block;
        width: 32px;
        opacity: .3;
        image-rendering: pixelated;
      }
      &__text{
        display: block;
        position: absolute;
        font-size: 12px;
        width: 100px;
        top: 54px;
        left: calc((100px - 62px) / -2);
        white-space: nowrap;
      }
    }
  }

  // Область кастомизации персонажа
  &__character{
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    &-img{
      position: absolute;
      display: block;
      top: 10%;
      left: 5%;
      width: 90%;
      image-rendering: pixelated;
    }
  }

  // Окно с галлереей персонализации
  &-gallery{
    background: alpha($black, .5);
    padding: 25px;
    @include bordered(alpha($black, .5), 10);

    &__heading{
      margin-bottom: 10px;
      color: $gray;
      text-shadow: 2px 2px $gray-shadow;

      &:not(:first-of-type){
        margin-top: 25px;
      }
    }

    &__list{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 5px;
      list-style: none;
    }

    &__item{
      display: block;
      width: 100%;
      height: 97px;
      box-shadow:
              inset 4px 4px $dark-gray,
              inset -4px -4px $gray-shadow;
    }
  }
}