.privilege{

  &__features{
    // Разделитель
    &-separator{
      border: none;
      background: var(--color);
      width: 75px;
      height: 5px;
      margin: 15px auto;
      box-shadow: 4px 4px alpha($black, .4);
    }
    // Список преимуществ группы
    &-list{
      line-height: 18px;
      font-size: 14px;
      color: alpha($gray, .7);
      text-shadow: 0 0 transparent;
      list-style: none;

      // Отступы между элементами списка
      &-item{
        margin-top: 10px;
      }
      // Акцентное выделение текста
      &-mark{
        color: var(--color);
      }
    }
  }

  // Вместо модификаторов
  .donate-card{
    padding: 45px 0;

    &__price-strike{
      display: inline-block;
      margin: 0;
    }
  }
  .donate-card__title{
    font-size: 36px;
    padding-top: 0;
    margin-bottom: 10px;
  }
}