.profile{
  padding: 50px 0;
  align-items: start;

  // Заголовок
  &-heading{
    font-size: 48px;
    color: $white;
    text-shadow: 6px 6px $white-shadow;
  }

  // Основное содержания
  &-content{
    position: relative;
    width: 65%;
    z-index: 1;
  }

  //
  &-area{
    --background: #{alpha($black, .5)};
    --shadow: #{$dark-gray};

    background: var(--background);
    padding: 25px;
    margin: 35px 0 0;
    @include bordered(var(--shadow));

    //
    &_style{
      &-purple{
        --background: #{alpha($dark-purple-shadow, .4)};
        --shadow: #{$light-purple};
      }
    }

    //
    &__heading{
      font-size: 20px;
      color: $white;
      margin: 0 0 15px;
      text-shadow: 3px 3px $white-shadow;
    }

    &__friends{
      //
      &-list{
        display: grid;
        grid-template-columns: repeat(10, 60px);
        grid-gap: 15px;

        list-style: none;
      }

      //
      &-item{
        --background: #{alpha($gray, .1)};

        display: grid;
        align-items: center;
        justify-content: center;

        background: var(--background);
        width: 60px;
        height: 60px;
        padding: 0;
        @include bordered(var(--background));

        //
        &_type{
          &-online{
            --background: #{alpha($blue, .2)};
          }
        }

        //
        img{
          display: block;
          width: 45px;
          image-rendering: pixelated;
        }
      }
    }
  }

  //
  &__stats{
    //
    &-heading{
      font-size: 16px;
      color: $gray;
      text-shadow: 2px 2px $gray-shadow;
    }
    //
    &-separator{
      display: block;
      border: none;
      background: $gray-shadow;
      margin: 15px 0;
      height: 5px;
    }
  }

  //
  &__header-stats{
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 15px;

    line-height: 1.2;
    list-style: none;

    //
    &__value{
      --color: #{$gray};
      --text-shadow: #{$gray-shadow};

      font-family: MinecraftTitle,sans-serif;
      font-size: 42px;
      color: var(--color);
      text-shadow: 6px 6px var(--text-shadow);

      //
      &_style{
        &-green{
          --color: #{$green};
          --text-shadow: #{$green-shadow};
        }
        &-gold{
          --color: #{$gold};
          --text-shadow: #{$gold-shadow};
        }
        &-purple{
          --color: #{$light-purple};
          --text-shadow: #{$light-purple-shadow};
        }
      }
    }
  }

  //
  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    margin: 35px 0 0;

    //
    &__item {
      margin: 0;
      padding: 25px 10px;
      text-transform: initial;

      //
      &-img {
        display: block;
        margin: 25px auto 0;
        width: 112px;
        height: 112px;
        image-rendering: pixelated;
      }
    }

    //
    &__text {
      display: block;

      //
      &_style {
        &-green {
          color: $green;
          text-shadow: 2px 2px $green-shadow;
        }

        &-gold {
          color: $gold;
          text-shadow: 2px 2px $gold-shadow;
        }
      }
    }
  }

  // Рендер скина в 3D
  &-skin{
    position: absolute;
    top: 50px;
    right: 0;
    pointer-events: none;
  }
}