.ratings{
  display: grid;
  grid-template-columns: 320px 1fr;
  align-items: start;
  grid-gap: 35px;

  // Переключатель вкладок (рейтингов)
  &-nav{
    background: alpha($black, .3);
    @include bordered($dark-gray);
    list-style: none;

    li:not(:first-child){
      margin: 5px 0 0;
      box-shadow: 0 -5px $dark-gray;
    }

    // Вкладка
    &__item{
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-gap: 15px;

      font-family: MinecraftTitle,sans-serif;
      line-height: 1.4;
      font-size: 16px;
      color: $gray;
      width: 100%;
      padding: 25px;
      text-shadow: 2px 2px $gray-shadow;
      text-align: left;

      // Состояние активной вкладки
      &_checked{
        background: alpha($black, .5);
        color: $white;
        @include bordered($white);
        cursor: default;

        &::before{
          display: none;
        }
      }

      // Иконка у вкладки
      &-img{
        display: block;
        width: 64px;
        height: 64px;
        pointer-events: none!important;
        image-rendering: pixelated;
      }
    }
  }

  // Контейнер со вкладками
  &__tab{

    //
    &-list{
      height: 779px;
      padding: 5px 15px 5px 5px;
      overflow: hidden scroll;
      list-style: none;

      // Стилизация скроллбара
      &::-webkit-scrollbar {
        width: 15px;

        &-track {
          background:
                  linear-gradient(
                                  90deg,
                                  transparent 30%,
                                  $dark-gray-shadow 30% 70%,
                                  transparent 70%
                  );
        }
        &-thumb {
          background: $dark-gray;

          &:hover{
            background: $white;
          }
        }
      }
    }

    //
    &-item{
      display: none;

      // Активное состояние
      &_checked{
        display: block;
      }
    }

    //
    &-heading{
      font-size: 18px;
      color: $white;
      text-shadow: 2px 2px $white-shadow;
    }

    &-footer{
      text-align: center;
    }
  }

  // Рейтинговая таблица
  &__table{
    --columns: 2fr 5fr 3fr 3fr;

    margin: 0 0 20px;
    list-style: none;

    // Модификатор для изменения колонок
    &_columns{
      &-1{
        --columns: 2fr 5fr 3fr;
      }
    }

    // Строка
    &-row{
      --background: #{alpha($black, .3)};
      --shadow: var(--background);
      --line-height: 36px;
      --color: #{$gray};

      display: grid;
      grid-template-columns: var(--columns);
      align-items: center;

      background: var(--background);

      line-height: var(--line-height);
      font-size: 16px;
      color: var(--color);

      padding: 0 25px;
      margin: 15px 0 0;
      @include bordered(var(--shadow));
      text-shadow: 2px 2px $gray-shadow;
      text-transform: initial;
      text-align: left;

      &_type{
        //
        &-own{
          --shadow: #{$dark-gray};
          margin: 15px 0 35px;
        }

        // Заголовок
        &-header{
          margin: 0;
        }

        // Топ-позиции
        &-top{
          --line-height: 50px;
          --color: var(--shadow);

          font-size: 20px;
          color: $white;
          text-shadow: 3px 3px $white-shadow;

          .ratings__table-data__rank{
            font-size: 32px;
          }

          &-1{
            --shadow: #{$gold};
          }
          &-2{
            --shadow: #{$light-purple};
          }
          &-3{
            --shadow: #{$blue};
          }
        }
      }
    }

    // Ячейка
    &-data{
      &__img{
        height: var(--line-height);
        margin: 0 5px 0 0;
        vertical-align: top;
      }
      &__rank{
        font-family: MinecraftTitle,sans-serif;
        font-size: 20px;
        color: var(--color);
        text-shadow: 0 0;
      }
    }
  }

  //

  //

  //

  //

  //
}